# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Editor and IDE files
.vscode/
*.swp
*.swo
*.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Git-related files
*.orig